ion-button{
    --background: red;
    --color: white;
  }
  ion-slides {
    margin: 20px 20px 20px 20px;
    height: 100%;
    background-color: white;
    max-width: 800px;
  }
  .swiper-slide{
    display:block;
    margin-bottom:60px;
    background-color:var(--slide-color-background); //variable crear
  }
  
  ion-slide > h1 {
    margin: 20px 20px 20px 20px;
    color: maroon;
    border-color: black;
    border-style: dashed;
  
  }
  
  ion-slide > p {
    padding: 20px 20px 20px 20px;
    color: maroon;
    font-style: italic;
    font-size: 22px;
    border-color: black;
    border-style: dashed;
  }
  
  ion-slide > ion-icon[name="close-circle"]{
    float: right;
    color: black;
    font-size: 30px;
  }
  
  ion-slide > ion-icon[name="musical-note-outline"]{
    float: center;
    color: rgb(143, 28, 28);
    font-size: 20px;
  }